/* body */
* {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: bold;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	padding: 10px 10px;
	background: none; /*for browsers that do not support gradients*/
	background: linear-gradient(to right, rgb(250, 240, 230),
	  rgb(240, 248, 255), rgb(240, 248, 255), rgb(250, 240, 230));
}


/* header*/
.header {
	max-width: 1600px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-wrap: wrap;
	flex-direction: row;
	-webkit-flex-direction: row; /* Safari 6.1+ */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}

.logo {
	width: 100px;
	float: left;
	transition: 0.5s ease;
}

.titles {
	text-align: right;
}
/*section*/

/* main-picture*/

.main-picture {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.main-image {
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: flex;
	display: -webkit-flex; /* Safari */
	border: 1px solid #c3c3c3;
	border-radius: 2px;
}

/*works*/

.works {
	display: flex;
	display: -webkit-flex; /* Safari */
	margin: 0 auto;
	max-width: 1600px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	padding-bottom: 20px;
}

.project {
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s ease;
	width: calc((100% - 20px)/3);
	float: left;
	margin-right: 10px;
}

}
.project:last-of-type {
	margin-right: 0;
}

.img-project {
	height: 225px;
	width: 100%;
	border: 1px solid #c3c3c3;
	border-radius: 2px;
}

.work-titles {
	width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	padding: 15px;
}

/*footer*/
.footer {
	padding-top: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

/*responsive*/

@media screen and (max-width: 400px) {
	.header {
		flex-direction: column;
		-webkit-flex-direction: column; /* Safari 6.1+ */
		height: auto;
	}
	.main-image {
		height: auto;
	}
	.works {
		flex-direction: column;
		-webkit-flex-direction: column; /* Safari 6.1+ */
	}
	.project {
		width: 100%;
		padding-bottom: 10px;
	}
	.img-project {
		height: auto;
	}
}
@media screen and (min-width: 401 px) and (max-width: 600px) {
	.header {
		border-bottom: 20px;
	}
	.main-image {
		height: auto;
	}
	.works {
		flex-direction: column;
		-webkit-flex-direction: column; /* Safari 6.1+ */
	}
	.project {
		width: 50%;
	}
	.img-project {
		height: auto;
	}
}
@media screen and (min-width: 601px) {
	.project {
		width: 100%;
	}
}
