/* body */
* {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 400;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	padding: 10px 10px;
}


/* header*/
.header {
	max-width: 1600px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}

.logo {
	width: 100px;
	float: left;
	transition: 0.5s ease;
}

.titles {
	width: 75%;
	text-align: right;
}
/*section*/
/* main-picture*/

.main-picture {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.main-image {
	margin: 0 auto;
	width: 100%;
	height: 500px;
}

/*projects*/

.projects {
	display: flex;
	margin: 0 auto;
	max-width: 1600px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	padding-bottom: 20px;
}

.project {
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s ease;
	width: calc((100% - 20px)/3);
	float: left;
	margin-right: 10px;
}

}
.project:last-of-type {
	margin-right: 0;
}

.img-project {
	height: 225px;
	width: 100%;
}

.work-titles {
	width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

/*footer*/
.footer {
	padding-top: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
/*responsive*/

@media screen and (max-width: 400px) {
	.header {
		flex-direction: column;
		height: auto;
	}
}

@media screen and (min-width: 401px) {
	.projects {
		flex-direction: row;
	}
	.project {
		width: 100%;
	}
}
